* {
    user-select: none;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /*display: flex;*/
}
.btnGroup {
    justify-content: space-around;
    margin-top: 2vh;
    text-align: right;
    align-items: center;
}