@model Friend
@{
    ViewData["Title"] = "Update Friend Info";
}
<div>
    <h1>Edit Friend</h1>
    <form method="post" asp-action="Update">
        <input asp-for="FriendID" class="form-control" hidden>
        <div>

            <label asp-for="FriendID" class="form-label"></label>
            <input asp-for="FriendID" class="form-control" disabled>
            <span asp-validation-for="FriendID" class="text-danger"></span>
        </div>


        <div>
            <label asp-for="FriendName" class="form-label"></label>
            <input asp-for="FriendName" class="form-control">
            <span asp-validation-for="FriendName" class="text-danger"></span>
        </div>
        <div>

            <label asp-for="Place" class="form-label"></label>
            <input asp-for="Place" class="form-control">
            <span asp-validation-for="Place" class="text-danger"></span>
        </div>

        <div class="mt-5">
            <button type="submit" class="btn btn-info">Save</button>
            <a asp-action="Index" class="btn btn-danger">Back</a>
        </div>
    </form>
</div>